.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

.main {
    filter: drop-shadow(0 0 0.75rem rgb(99, 99, 99));
}

.svg {
     height: 150px;
     width: 150px;
}

@media screen and (max-width: 640px) {
    .svg {
      height: 120px;
      width: 120px;
    }
  }